@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'StarFont';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimByeolbichhaneulTTF-B.woff2')
    format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'StarFont';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimByeolbichhaneulTTF-L.woff2')
    format('woff2');
  font-weight: 400;
  font-style: normal;
}

:root {
  line-height: 1.25;
  font-weight: 400;
}
